<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
	
    <title>eCommerc application</title>
    <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="/js/cartAngular.js"></script>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/search.css" />
	<link rel="stylesheet" href="/css/custom.css" />
	
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/alertify.min.css" rel="stylesheet">

    <!-- Custom styles for this template 
    <link href="jumbotron.css" rel="stylesheet">-->
    <link href="/css/starter-template.css" rel="stylesheet">
  </head>