<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       layout:decorate="~{default}">
    <head>
        <title>Login</title>
    </head>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
   </div>
    <body class="text-center">
        <div layout:fragment="content">
       
           <div class="container">
           	<div class="row">
	           		
		           	<div class="col-md-4">	
		           	<img  th:src="${product?.image}">		           			          	
					 </div>	
					 <div class="col-md-4">			           			          	
					 </div>		
					 <div style="text-align:left" class="col-md-4" >	
					 <h1  th:text="${product?.name}" />	
					 <p><h2>$ <span th:text="${product?.price}"></span></h2></p>	    
					  
					 
					  
					   
				        <div  ng-controller="cartCtrl" class="btn-group" role="group" aria-label="...">
				          <input type="hidden" name="quantity" id="quantity" value="0"></input>
				          <button type="button" th:attr="ng-click='removeCartItem(\''+${product.id}+'\');'" id="minus" class="btn btn-default">-</button>
				          <button type="button" id="total" class="btn btn-default" th:with="url = @{cart/addToCart}">0</button>
				          
				          <button type="button" th:attr="ng-click='addCartItem(\''+${product.id}+'\');'" id="plus" class="btn btn-default">+</button>
				       
				        </div>
						
				        <div class="form-group">
				        <br> 
				          <input type="hidden" name="product_id" id="quantity" th:value="${product?.id}"></input>
				          <input type="hidden" name="priceHidden" id="priceHidden" th:value="${product?.price}"></input>
				
				          <input type="text" name="item" class="form-control" th:value="${product?.name}"></input>
				          
				          <input type="text" name="priceValue" id="priceValue" class="form-control" value=0></input>
				        </div>

					<a type="button" th:href="@{'/cart/' + ${userOnNavbar.id}}" class="btn btn-primary btn-lg">Check out</a>
				      
		      			          	
					 </div>			
					
	           	</div>
           	</div>
           </div>
        
    </body>
   
</html>