#borderDemo {
border: 1px groove #DADADA ;
background: rgba(240,240,240,0.66) url("") no-repeat scroll 0px 0px;
}

#productTextalign {
	font-size: 12px;
	padding: 0 30px 0 10px;
    text-align:left;
}

body {
  padding-top: 100px;
}


#productsearchalign {
	 margin : 0 auto;
}

#shoppingCart{
	padding-top: 10px;
	font-size:32px;
	color:white
}
#shoppingCartTotal{
	padding-top: 15px;
	font-size:14px;
	color:white
}

.nav{
margin-bottom: 0 !important;
border: 0 !important;
}

.dashboardImage {
	background: url('/images/threely-photo.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 250px;
	text-align: center;
	
	display:block;

}
.homeImage {
	background: url('/images/threely-photo.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	text-align: center;
	
	display:block;

}