<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head lang="en" th:replace="partials/header :: header"> </head>

  <body >
  <!-- Angular cart app must go on the top so it can be used in navbar and templates too -->
  <main ng-app="cartApp" >
		   <head lang="en" th:replace="partials/navbar :: navbar"> </head>
		
		      
		            <div layout:fragment="content"></div>
		    
		      <!-- /.container -->
		
		  <div lang="en" th:replace="partials/footer :: footer"> </div>
		  <div lang="en" th:replace="partials/javascript :: javascript"> </div>
    </body>
    </main>
</html>
