<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head lang="en" th:replace="partials/header :: header"> </head>

  <body>
		   <head lang="en" th:replace="partials/navbar :: navbar"> </head>
		
		      <div class="container">
		            <div layout:fragment="content"></div>
		      </div>
		      <!-- /.container -->
		
		  <div lang="en" th:replace="partials/footer :: footer"> </div>
		  <div lang="en" th:replace="partials/javascript :: javascript"> </div>
    </body>
</html>
